@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font-family: "Bebas Neue", cursive;
  --color-background: #bee5b0;
  --color-contrast: #fff;
  --color-text: #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#app {
  height: 100vh;
  overflow: auto;
  display: grid;
  align-content: center;
  justify-items: center;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background);
}
.main-img {
  width: 10%;
}

.number1 {
  display: block;
  border: 0;
  border-radius: 0.8em;
  text-align: center;
  font-family: var(--font-family);
}

.number2 {
  display: block;
  border: 0;
  border-radius: 0.8em;
  text-align: center;
  font-family: var(--font-family);
}

.plus-icon {
  display: block;
  width: 5%;
}

.form {
  display: grid;
  justify-items: center;
  gap: 0.8em;
}

.submitButton {
  border-radius: 0.8em;
  background-color: var(--color-contrast);
  color: var(--color-text);
  border: 0;
  padding: 1.2em;
  margin: 0.5em;
  font-family: var(--font-family);
}

.submitButton:hover {
  background-color: var(--color-text);
  color: var(--color-contrast);
}

.total {
  /* background-color: var(--color-contrast);
  padding: 1.8em;
  border-radius: 0.8em; */
}
